streamlit
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
langgraph
python-dotenv
pypdf
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu
langchain-huggingface